body {
    font-family: Helvetica, Arial, sans-serif;
    margin: auto;
    width: 100%;
    height: 100%;
    min-width: 700px;
}
header {
    padding: 10px;
    border: 1px gray solid;
    height: 70px;
    box-sizing: border-box;
    background-color: white;
}

.logo {
    height: 50px;
    width: 50px;
    float: left;
}

.menu {
    height: 50px;
    width: 50px;
    float: right;
}

a {
    position: absolute;
    top: 50%;
    left: 50%;
}

h3 {
    position: absolute;
    top: 40%;
    left: 50%;
    z-index: 1;
    color: honeydew;
    font-size: 30px;
    font-style: italic;
}

.container {
    background: url(assets/spices.jpg) no-repeat;
    box-sizing: border-box;
    background-size: cover;
    height: 75vh;
    width: 100%;

    /* position: relative; */
}

.ground {
    position: relative;

    width: auto;
}

img.swim {
    width: 40px;
    height: 40px;
}

img.world {
    width: 40px;
    height: 40px;
}

img.cat {
    width: 40px;
    height: 40px;
    float: left;
}

img.temple {
    width: 40px;
    height: 40px;
}

footer {
    margin: 0 auto;
    width: 100%;
    height: 30%;
    background: gray;
}

.features {
    float: right;
}

.col-1 {
    position: absolute;

    width: 50%;
    padding: 10px 0 10px 50px;
    background: gray;
}

.col-2 {
    z-index: 1;
    float: right;
    width: 50%;
    padding: 10px 50px 10px 0;
    background: gray;
}
