body {
    font-family: Helvetica, Arial, sans-serif;
    margin: auto;
    width: auto;
    height: auto;
    min-width: 700px;
}
header {
    padding: 10px;
    border: 1px gray dashed;
    height: 70px;
    box-sizing: border-box;
}
.logo {
    height: 50px;
    width: 50px;

    float: left;
}

.menu {
    height: 50px;
    width: 50px;

    float: right;
}
a {
    position: absolute;
    top: 50%;
    left: 50%;
}

h3 {
    position: absolute;
    top: 40%;
    left: 50%;
    z-index: 1;
    color: honeydew;
    font-size: 30px;
    font-style: italic;
}

.container {
    background: url(./assets/spiced.jpg) no-repeat;
    background-size: cover;
    height: 75%;
    width: 100%;
}

img.swim {
    width: 40px;
    height: 40px;
}

img.world {
    width: 40px;
    height: 40px;
}

img.cat {
    width: 40px;
    height: 40px;
}

img.temple {
    width: 40px;
    height: 40px;
}

footer {
    margin: 0 auto;
    width: auto;
    height: 30%;
    background: gray;
}

.col-1 {
    position: absolute;
    float: left;
    width: 50%;
    padding: 10px 0 10px 50px;
    background: gray;
}

.col-2 {
    z-index: 1;
    float: right;
    width: 50%;
    padding: 10px 50px 10px 0;
    background: gray;
}
