<img src="./partials/img/pexels-startup-stock-photos-7376-1.jpg" alt="" srcset="">
	<h1>Welcome to my work in progress Portfolio</h1>
	<h3>Hi, I'm Paul. I'm 30 years old! </h3>
    <h4>Here you can see my latest projects!</h3>
	<div class="container">
		{{#projects}}
		<a href="./{{directory}}/">{{title}}<img width="250" height="250" src="./{{directory}}/screenshot.png"></a>
		
		{{/projects}}
	</div>
